body {
  background:
    linear-gradient(rgba(255, 144, 23, 1), rgba(204, 150, 226, 1));
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbrand {
  color: #ffbfce;
  margin-left: 9%;
  margin-top: 8%;
}

.navbrand p {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 3vw;
}

.bandeprincipale {
  margin-right: 0%;
  margin-left: 0%;
}

.card {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  min-width: 80%;
}

.designprofil {
  text-align: center;
  margin-top: 10%;
}

.infoprofil {
  list-style-type:none;
  margin-top: 30px;
}

.imgprofilneutre {
  width: 15%;
  margin-top: -10%;
}

.pseudoprofil {
  margin-top: 0%;
}

#myFooter iframe {
  width: 50%;
  height: 255px;
  border: 0;
  margin-top: -7%;
}

#myFooter .ensemblefooter {
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
  padding: 8%;
  margin-bottom: 0%;
  margin-top: 2%;
}

#myFooter .socialfooter {
  font-size:1.5vw;
  color:#f9f9f9;
  transition:0.2s;
  margin-left: 55%;
  margin-top: -21%;
}

#myFooter .socialfooter:hover {
  color: #117a8b;
}

#myFooter li {
  margin-bottom: 1%;
}

.btn-modif {
  margin-top: 5%;
}

/* ACCUEIL */
.ensembleaccueil {
  margin-top: 3%;
  min-height: 90vw;
}

.imgvitrine, .imginterieur, .imgcabine1, .imgcabine2 {
  width: 48%;
  border-radius: 21%;
  padding: 1%;
  border: 1px;
  box-shadow: 0px 0px 10px #BBB;
}

.imgguinot, .imgthalgo {
  width: 49%;
  max-width: 400px;
}

.textvitrine {
  margin-left: 53%;
  margin-top: -23%;
  text-align: center;
}

.part2accueil {
  margin-top: 5%;
  text-align: right;
}

.textinterieur {
  margin-right: 53%;
  margin-top: -22%;
  text-align: center;
}

.part3accueil {
  margin-top: 8%;
}

.textcabine1 {
  margin-left: 53%;
  margin-top: -27%;
  text-align: center;
}

.part4accueil {
  margin-top: 5%;
  text-align: right;
}

.textcabine2 {
  margin-right: 53%;
  margin-top: -23%;
  text-align: center;
}
